/*Color #hexcodes for this website:
- #243642
- #F4F6FF
- #FFFFFF
*/
/*Font link for Abril Fatface when I want to link it to a class:
-- .abril-fatface-regular {
font-family: "Abril Fatface", serif;
font-weight: 400;
font-style: normal;
}
Font link for Quicksand Semi-bold:
  -- // <uniquifier>: Use a unique and descriptive class name

.quicksand-<uniquifier> {
font-family: "Quicksand", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
}
Font link for Quicksand Regular:
  -- // <uniquifier>: Use a unique and descriptive class name

.quicksand-<uniquifier> {
font-family: "Quicksand", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}
-- */
* {
    box-sizing: border-box;
}
.container {
    padding: 0 15px;
}
/*Header Section*/
header {
    background-color:#f4f6ff;
    text-align: center;
    padding: 10px;
}
.logo {
    max-width: 250px;
}
nav {
    display: inline-block;
    width: 100%;
}
nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0 15px;
    font-weight: 600;
    color: #3a4471;
    text-decoration: none;
}
nav > ul > li > a:hover {
    padding: 0 15px;
    font-weight: 600;
    color: #5d6bab;
    text-decoration: none;
}
nav > ul > li > a:active {
    padding: 0 15px;
    font-weight: 600;
    color: #5d6bab;
    text-decoration: none;
}
/*Hero Section*/
#hero-section-index h1 {
    text-align: center;
}
/*Main Section*/
.row {
    margin: 25px 0;
}
#my-work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #f4f6ff;
}
body {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
}
h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}
h2 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
}
h3 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}
h4 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}
p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
}
a {
    color: #b2bbdf;
    text-decoration: none;
}
a:active {
    color: #f4f6ff;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #5d6bab;
    text-decoration: underline;
}
a:visited {
    color: #3A4471;
    text-decoration: none;
}
button {
    background-color: #243642;
    padding: 10px 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 16px;
}
button:hover {
    background-color: #45667B;
}
img {
    width: 100%;
}
.category-item {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}
.sub-item {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
}
/*Footer Section*/